<div class="max-w-4xl mx-auto px-4">
  <div class="max-w-2xl mx-auto">
    <div class="text-2xl font-bold mb-6">ログイン</div>
      <%= form_with url: login_path, local: false do |f| %>
        <div class="mb-3">
          <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.email_field :email, name: 'email', class: "shadow appearance-none border w-full px-3 py-2 focus:outlline-none focus:ring-2 focus:ring-blue-500" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.password_field :password, name: 'password', name: 'password', class: "shadow appearance-none border w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"  %>
        </div>
        <%= f.submit "ログイン", class: "w-full bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <% end %>
      <div class='text-center mt-4'>
        <%= link_to "ユーザー登録はこちら", new_user_path, class: "text-blue-500 hover:text-blue-700 underline" %>
        <%= link_to "パスワードを忘れた方はこちら", "#", class: "text-blue-500 hover:text-blue-700 underline" %>
      </div>
    </div>
  </div>
</div>
